<html>
  <body>
    <h1>Your OTP Code</h1>
    <p>Your OTP code is: <strong> <%= otp %> </strong></p>
    <p>
      Please enter this code to verify your email address. This code is valid
      for the next 60 minutes.
    </p>
  </body>
</html>
